<a href="https://colab.research.google.com/github/climate-and-health-datasci-Unicamp/py-climate-health-toolbox/blob/master/examples/Biometeo_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Examples of Biometeo Library Application**

## **Importing Biometeo.py**

In [ ]:
! git clone https://github.com/climate-and-health-datasci-Unicamp/py-climate-health-toolbox

Cloning into 'py-climate-health-toolbox'...
remote: Enumerating objects: 114, done.
remote: Counting objects: 100% (114/114), done.
remote: Compressing objects: 100% (110/110), done.
remote: Total 114 (delta 51), reused 4 (delta 0), pack-reused 0
Receiving objects: 100% (114/114), 5.37 MiB | 8.25 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import sys
sys.path.append('/content/py-climate-health-toolbox/climahe')

import biometeo as bm
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **DataFrame Example**

In this example notebook, we are going to use examples of dataframes with all the variables needed for each index. The chosen values aren't real and are only used for the learning purpose.

## **Temperature Convertions**

In [ ]:
# Creating a generic dataframe with temperature
data = {'T(°C)': [-21, -17, -9.5, -2, 0, 8, 13.1, 27, 38]}

# Converting data into a dataframe
df_temp_convertion = pd.DataFrame(data)
df_temp_convertion

   T(°C)
0  -21.0
1  -17.0
2   -9.5
3   -2.0
4    0.0
5    8.0
6   13.1
7   27.0
8   38.0

Converting degrees celsius into degrees farenheit and kelvin

In [ ]:
# Creating columns for degrees farenheit and kelvin applying the convertion formula
df_temp_convertion['T(°F)'] = bm.celsius_to_farenheit(df_temp_convertion['T(°C)'])
df_temp_convertion['T(K)'] = bm.celsius_to_kelvin(df_temp_convertion['T(°C)'])
df_temp_convertion

   T(°C)   T(°F)    T(K)
0  -21.0   -5.80  252.15
1  -17.0    1.40  256.15
2   -9.5   14.90  263.65
3   -2.0   28.40  271.15
4    0.0   32.00  273.15
5    8.0   46.40  281.15
6   13.1   55.58  286.25
7   27.0   80.60  300.15
8   38.0  100.40  311.15

Converting kelvin into degrees celsius and degrees farenheit

In [ ]:
# Dropping both celcius and farenheit columns
df_temp_convertion = df_temp_convertion.drop(columns = ['T(°C)','T(°F)'])
df_temp_convertion

     T(K)
0  252.15
1  256.15
2  263.65
3  271.15
4  273.15
5  281.15
6  286.25
7  300.15
8  311.15

In [ ]:
# Recreating the columns but applying the convertion formula
df_temp_convertion['T(°C)'] = bm.kelvin_to_celsius(df_temp_convertion['T(K)'])
df_temp_convertion['T(°F)'] = bm.kelvin_to_farenheit(df_temp_convertion['T(K)'])
df_temp_convertion

     T(K)  T(°C)   T(°F)
0  252.15  -21.0   -5.80
1  256.15  -17.0    1.40
2  263.65   -9.5   14.90
3  271.15   -2.0   28.40
4  273.15    0.0   32.00
5  281.15    8.0   46.40
6  286.25   13.1   55.58
7  300.15   27.0   80.60
8  311.15   38.0  100.40

Converting degrees farenheit into degrees celsius and kelvin

In [ ]:
# Dropping both celcius and farenheit columns
df_temp_convertion = df_temp_convertion.drop(columns = ['T(°C)','T(K)'])
df_temp_convertion

    T(°F)
0   -5.80
1    1.40
2   14.90
3   28.40
4   32.00
5   46.40
6   55.58
7   80.60
8  100.40

In [ ]:
# Recreating the columns but applying the convertion formula
df_temp_convertion['T(°C)'] = bm.farenheit_to_celsius(df_temp_convertion['T(°F)'])
df_temp_convertion['T(K)'] = bm.farenheit_to_kelvin(df_temp_convertion['T(°F)'])
df_temp_convertion

    T(°F)  T(°C)    T(K)
0   -5.80  -21.0  252.15
1    1.40  -17.0  256.15
2   14.90   -9.5  263.65
3   28.40   -2.0  271.15
4   32.00    0.0  273.15
5   46.40    8.0  281.15
6   55.58   13.1  286.25
7   80.60   27.0  300.15
8  100.40   38.0  311.15

## **Pressure Calculation**

In [ ]:
# Creating a generic dataframe with temperature and relative humidity
data = {'T(°C)': [-21, -17, -9.5, -2, 0, 8, 13.1, 27, 38],
        'RH(%)': [5, 7, 15, 30, 95, 38, 46, 32.5, 23.4]}

# Converting data into a dataframe
df_pressure = pd.DataFrame(data)

# Creating a Farenheit column
df_pressure['T(°F)'] = bm.celsius_to_farenheit(df_pressure['T(°C)'])
df_pressure = df_pressure[['T(°C)', 'T(°F)', 'RH(%)']]
df_pressure

   T(°C)   T(°F)  RH(%)
0  -21.0   -5.80    5.0
1  -17.0    1.40    7.0
2   -9.5   14.90   15.0
3   -2.0   28.40   30.0
4    0.0   32.00   95.0
5    8.0   46.40   38.0
6   13.1   55.58   46.0
7   27.0   80.60   32.5
8   38.0  100.40   23.4

Actual and saturated vapor pressure with temperature in degrees celsius and relative humidity in %

In [ ]:
# Creating columns for actual and saturated vapor pressure
# Note that, for celsius as the chosen degree, it's not necessary to specify it in the formula (defaut)
# Note that, for the saturated vapor pressure, it's only requested the temperature value
df_pressure_celsius = df_pressure.drop(columns = ['T(°F)'])
df_pressure_celsius['AVP(Pa)'] = bm.act_vap_pressure(df_pressure_celsius['T(°C)'],
                                                     df_pressure_celsius['RH(%)'])

df_pressure_celsius['SVP(Pa)'] = bm.sat_vap_pressure(df_pressure_celsius['T(°C)'])
df_pressure_celsius

   T(°C)  RH(%)      AVP(Pa)      SVP(Pa)
0  -21.0    5.0     4.687163    93.743254
1  -17.0    7.0     9.604409   137.205837
2   -9.5   15.0    40.746228   271.641518
3   -2.0   30.0   155.336031   517.786770
4    0.0   95.0   580.726619   611.291178
5    8.0   38.0   407.735488  1072.988125
6   13.1   46.0   693.640473  1507.914071
7   27.0   32.5  1159.645282  3568.139330
8   38.0   23.4  1552.086196  6632.846990

Actual and saturated vapor pressure with temperature in degrees farenheit and relative humidity in %

In [ ]:
# Creating a new dataframe with the previus temperature values converted to farenheit
df_pressure_farenheit = df_pressure.drop(columns = ['T(°C)'])

# Creating the pressure columns
# Note that, for farenheit as the chosen degree, you must specify it in the formula
df_pressure_farenheit['AVP(Pa)'] = bm.act_vap_pressure(df_pressure_farenheit['T(°F)'],
                                                       df_pressure_farenheit['RH(%)'],
                                                       degrees = 'farenheit')

df_pressure_farenheit['SVP(Pa)'] = bm.sat_vap_pressure(df_pressure_farenheit['T(°F)'],
                                                       degrees = 'farenheit')

df_pressure_farenheit

    T(°F)  RH(%)      AVP(Pa)      SVP(Pa)
0   -5.80    5.0     4.687163    93.743254
1    1.40    7.0     9.604409   137.205837
2   14.90   15.0    40.746228   271.641518
3   28.40   30.0   155.336031   517.786770
4   32.00   95.0   580.726619   611.291178
5   46.40   38.0   407.735488  1072.988125
6   55.58   46.0   693.640473  1507.914071
7   80.60   32.5  1159.645282  3568.139330
8  100.40   23.4  1552.086196  6632.846990

## **Humidity Convertions**

Creating a generic DataFrame with temperature and relative humidity values

In [ ]:
# Creating a generic DataFrame with temperature and relative humidity
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'RH(%)': [60, 88, 93.4, 95.6, 100, 25, 34.4, 74]}

df_humidity = pd.DataFrame(data)
df_humidity['T(°F)'] = bm.celsius_to_farenheit(df_humidity['T(°C)'])
df_humidity = df_humidity[['T(°C)', 'T(°F)', 'RH(%)']]
df_humidity

   T(°C)   T(°F)  RH(%)
0  -27.0  -16.60   60.0
1  -15.6    3.92   88.0
2   -3.4   25.88   93.4
3    0.0   32.00   95.6
4    5.8   42.44  100.0
5   18.0   64.40   25.0
6   25.6   78.08   34.4
7   39.0  102.20   74.0

Converting relative humidity into dew point temperature

In [ ]:
# Creating two dataframes with separated temperature units
df_humidity_celsius = df_humidity.drop(columns = ['T(°F)'])
df_humidity_farenheit = df_humidity.drop(columns = ['T(°C)'])

# Note that, for celsius as the chosen degree, it's not necessary to specify it in the formula (defaut)
df_humidity_celsius['Dewpoint(°C)'] = bm.relative_humidity_to_dewpoint(df_humidity_celsius['T(°C)'],
                                                                       df_humidity_celsius['RH(%)'])

df_humidity_celsius

   T(°C)  RH(%)  Dewpoint(°C)
0  -27.0   60.0    -32.424885
1  -15.6   88.0    -17.152880
2   -3.4   93.4     -4.325831
3    0.0   95.6     -0.628195
4    5.8  100.0      5.800000
5   18.0   25.0     -2.397080
6   25.6   34.4      8.736802
7   39.0   74.0     33.566328

In [ ]:
# Note that, for farenheit as the chosen degree, you must specify it in the formula
df_humidity_farenheit['Dewpoint(°F)'] = bm.relative_humidity_to_dewpoint(df_humidity_farenheit['T(°F)'],
                                                                         df_humidity_farenheit['RH(%)'],
                                                                         degrees = 'farenheit')
df_humidity_farenheit

    T(°F)  RH(%)  Dewpoint(°F)
0  -16.60   60.0      -26.3648
1    3.92   88.0        1.1248
2   25.88   93.4       24.2135
3   32.00   95.6       30.8692
4   42.44  100.0       42.4400
5   64.40   25.0       27.6853
6   78.08   34.4       47.7262
7  102.20   74.0       92.4194

Converting dew point temperature into relative humidity

In [ ]:
# Dropping the relative humidity from the previous dataframes
df_humidity_celsius = df_humidity_celsius.drop(columns = ['RH(%)'])
df_humidity_farenheit = df_humidity_farenheit.drop(columns = ['RH(%)'])

# The same notes said before are valid for this convertion as well
# First, with degrees celsius
df_humidity_celsius['RH(%)'] = bm.dewpoint_to_relative_humidity(df_humidity_celsius['T(°C)'],
                                                                df_humidity_celsius['Dewpoint(°C)'])
df_humidity_celsius

   T(°C)  Dewpoint(°C)       RH(%)
0  -27.0    -32.424885   59.999998
1  -15.6    -17.152880   87.999998
2   -3.4     -4.325831   93.399997
3    0.0     -0.628195   95.599998
4    5.8      5.800000  100.000000
5   18.0     -2.397080   24.999999
6   25.6      8.736802   34.399999
7   39.0     33.566328   73.999999

In [ ]:
# Then, with degrees farenheit
df_humidity_farenheit['RH(%)'] = bm.dewpoint_to_relative_humidity(df_humidity_farenheit['T(°F)'],
                                                                 df_humidity_farenheit['Dewpoint(°F)'],
                                                                 degrees = 'farenheit')
df_humidity_farenheit

    T(°F)  Dewpoint(°F)       RH(%)
0  -16.60      -26.3648   59.999911
1    3.92        1.1248   87.999852
2   25.88       24.2135   93.400212
3   32.00       30.8692   95.599964
4   42.44       42.4400  100.000000
5   64.40       27.6853   24.999962
6   78.08       47.7262   34.399995
7  102.20       92.4194   73.999882

## **Apparent Temperature**

In [ ]:
# Creating a generic DataFrame with temperature, vapor pressure and wind speed
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'P(kPa)': [0.85, 0.97, 1.05, 1.3, 0.76, 1.35, 1.47, 1],
        'ws(m/s)': [0, 2.5, 5, 3, 0.1, 0, 4.3, 1.2]}

df_at = pd.DataFrame(data)
df_at

   T(°C)  P(kPa)  ws(m/s)
0  -27.0    0.85      0.0
1  -15.6    0.97      2.5
2   -3.4    1.05      5.0
3    0.0    1.30      3.0
4    5.8    0.76      0.1
5   18.0    1.35      0.0
6   25.6    1.47      4.3
7   39.0    1.00      1.2

Apparent temperature for indoors condition and degrees celsius

In [ ]:
# Note that, for the condition variable, the defaut value is 'indoors'
# Note that the wind speed has a defaut value (ws = 0) in case it doesn't receive any other value
# Note that, once again, 'celsius' is the defaut value for the variable 'degrees'
# In the first example below, we are considering the wind speed defaut value
df_at_indoors = df_at.drop(columns = ['ws(m/s)'])
df_at_indoors['AT(°C)'] = bm.apparent_temperature(df_at_indoors['T(°C)'], df_at_indoors['P(kPa)'])
df_at_indoors

   T(°C)  P(kPa)  AT(°C)
0  -27.0    0.85 -24.270
1  -15.6    0.97 -13.518
2   -3.4    1.05  -2.118
3    0.0    1.30   1.560
4    5.8    0.76   5.708
5   18.0    1.35  18.230
6   25.6    1.47  25.486
7   39.0    1.00  36.780

In [ ]:
# Now, considering the wind speed columns
# Note that, comparing to the table above, the apparent temperature values didn't change
# That's because, for indoors condition, wind speed aren't taken into account
df_at_indoors_ws = df_at
df_at_indoors_ws['AT(°C)'] = bm.apparent_temperature(df_at['T(°C)'], df_at['P(kPa)'], df_at['ws(m/s)'])
df_at_indoors_ws

   T(°C)  P(kPa)  ws(m/s)  AT(°C)
0  -27.0    0.85      0.0 -24.270
1  -15.6    0.97      2.5 -13.518
2   -3.4    1.05      5.0  -2.118
3    0.0    1.30      3.0   1.560
4    5.8    0.76      0.1   5.708
5   18.0    1.35      0.0  18.230
6   25.6    1.47      4.3  25.486
7   39.0    1.00      1.2  36.780

Apparent temperature for shade condition and degrees celsius

In [ ]:
# Now, with 'shade' as the chosen condition, wind speed is taken into account
df_at_shade = df_at
df_at_shade['AT(°C)'] = bm.apparent_temperature(df_at['T(°C)'], df_at['P(kPa)'], 
                                                df_at['ws(m/s)'], 'shade')
df_at_shade

   T(°C)  P(kPa)  ws(m/s)  AT(°C)
0  -27.0    0.85      0.0 -29.080
1  -15.6    0.97      2.5 -18.609
2   -3.4    1.05      5.0  -7.386
3    0.0    1.30      3.0  -2.050
4    5.8    0.76      0.1   4.787
5   18.0    1.35      0.0  18.720
6   25.6    1.47      4.3  24.069
7   39.0    1.00      1.2  39.080

Apparent temperature for indoors and shade condition but in degrees farenheit

In [ ]:
# Converting and dropping the celsius temperature column
df_at['T(°F)'] = bm.celsius_to_farenheit(df_at['T(°C)'])
df_at_farenheit = df_at.drop(columns = ['T(°C)'])
df_at_farenheit = df_at_farenheit[['T(°F)', 'P(kPa)', 'ws(m/s)']]
df_at_farenheit

    T(°F)  P(kPa)  ws(m/s)
0  -16.60    0.85      0.0
1    3.92    0.97      2.5
2   25.88    1.05      5.0
3   32.00    1.30      3.0
4   42.44    0.76      0.1
5   64.40    1.35      0.0
6   78.08    1.47      4.3
7  102.20    1.00      1.2

In [ ]:
# For indoors condition
df_at_farenheit_indoors = df_at_farenheit
df_at_farenheit_indoors['AT(°F)'] = bm.apparent_temperature(df_at_farenheit['T(°F)'],
                                                            df_at_farenheit['P(kPa)'],
                                                            df_at_farenheit['ws(m/s)'],
                                                            condition = 'indoors',
                                                            degrees = 'farenheit')
df_at_farenheit_indoors

    T(°F)  P(kPa)  ws(m/s)   AT(°F)
0  -16.60    0.85      0.0 -11.6860
1    3.92    0.97      2.5   7.6676
2   25.88    1.05      5.0  28.1876
3   32.00    1.30      3.0  34.8080
4   42.44    0.76      0.1  42.2744
5   64.40    1.35      0.0  64.8140
6   78.08    1.47      4.3  77.8748
7  102.20    1.00      1.2  98.2040

In [ ]:
# For shade condition
df_at_farenheit_shade = df_at_farenheit
df_at_farenheit_shade['AT(°F)'] = bm.apparent_temperature(df_at_farenheit['T(°F)'],
                                                            df_at_farenheit['P(kPa)'],
                                                            df_at_farenheit['ws(m/s)'],
                                                            condition = 'shade',
                                                            degrees = 'farenheit')
df_at_farenheit_shade

    T(°F)  P(kPa)  ws(m/s)    AT(°F)
0  -16.60    0.85      0.0  -20.3440
1    3.92    0.97      2.5   -1.4962
2   25.88    1.05      5.0   18.7052
3   32.00    1.30      3.0   28.3100
4   42.44    0.76      0.1   40.6166
5   64.40    1.35      0.0   65.6960
6   78.08    1.47      4.3   75.3242
7  102.20    1.00      1.2  102.3440

## **Wind Chill**

In [ ]:
# Creating a dataframe using metric units
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'ws(m/s)': [0, 2.5, 5, 3, 0.1, 0, 4.3, 1.2]}

df_wc = pd.DataFrame(data)

# Adding us units columns
df_wc['T(°F)'] = bm.celsius_to_farenheit(df_wc['T(°C)'])
df_wc['ws(mph)'] = 2.23694*df_wc['ws(m/s)']
df_wc

   T(°C)  ws(m/s)   T(°F)    ws(mph)
0  -27.0      0.0  -16.60   0.000000
1  -15.6      2.5    3.92   5.592350
2   -3.4      5.0   25.88  11.184700
3    0.0      3.0   32.00   6.710820
4    5.8      0.1   42.44   0.223694
5   18.0      0.0   64.40   0.000000
6   25.6      4.3   78.08   9.618842
7   39.0      1.2  102.20   2.684328

Wind speed using the metric units

In [ ]:
# Note that, for the variable 'unit', the defaut is 'metric'
df_wc_metric = df_wc.drop(columns = ['T(°F)', 'ws(mph)'])
df_wc_metric['WC'] = bm.wind_chill(df_wc_metric['T(°C)'], df_wc_metric['ws(m/s)'])
df_wc_metric

   T(°C)  ws(m/s)         WC
0  -27.0      0.0 -25.050000
1  -15.6      2.5 -17.427000
2   -3.4      5.0  -7.736500
3    0.0      3.0  -1.964400
4    5.8      0.1   6.988654
5   18.0      0.0  19.050000
6   25.6      4.3  23.767156
7   39.0      1.2  39.119256

Wind speed using the us units

In [ ]:
df_wc_us = df_wc.drop(columns = ['T(°C)', 'ws(m/s)'])
df_wc_us['WC'] = bm.wind_chill(df_wc_us['T(°F)'], df_wc_us['ws(mph)'], unit = 'us')
df_wc_us

    T(°F)    ws(mph)          WC
0  -16.60   0.000000  -13.108000
1    3.92   5.592350    0.610340
2   25.88  11.184700   18.053707
3   32.00   6.710820   28.447564
4   42.44   0.223694   44.561784
5   64.40   0.000000   66.272000
6   78.08   9.618842   74.776512
7  102.20   2.684328  102.403519

## **Wind Chill Canada**

This is a different wind chill formula based on the Environment Canada's studies

In [ ]:
# Creating a generic dataframe with temperature and wind speed
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'ws(m/s)': [0, 2.5, 5, 3, 0.1, 0, 4.3, 1.2]}

df_wc_canada = pd.DataFrame(data)
df_wc_canada

   T(°C)  ws(m/s)
0  -27.0      0.0
1  -15.6      2.5
2   -3.4      5.0
3    0.0      3.0
4    5.8      0.1
5   18.0      0.0
6   25.6      4.3
7   39.0      1.2

For this formula, it's only required the temperature in degrees celsius and the wind speed in m/s

In [ ]:
# Note that, for this particular index, the calculation is only applied to negative temperature values
# If there's a value greater than 0°C, the program will print the following sentences and recommendations
# Note that the program will print a list of the index in which the Wind Chill Canada is not available (NA)
df_wc_canada['WC-Canada'] = bm.wind_chill_canada(df_wc_canada['T(°C)'], df_wc_canada['ws(m/s)'])
df_wc_canada

For the following lines, one or more parameters out of the due range:
 [4, 5, 6, 7]
Check if the air temperature is bellow 0°C and if the wind speed is a positive number.
Recommendation: try to use the regular 'wind_chill' formula.

   T(°C)  ws(m/s)  WC-Canada
0  -27.0      0.0      -27.0
1  -15.6      2.5   -17.4441
2   -3.4      5.0  -5.446567
3    0.0      3.0     -0.954
4    5.8      0.1         NA
5   18.0      0.0         NA
6   25.6      4.3         NA
7   39.0      1.2         NA

In [ ]:
# To overcome this problem, we can filter the dataframe with only the negative values
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'ws(m/s)': [0, 2.5, 5, 3, 0.1, 0, 4.3, 1.2]}

df_wc_canada = pd.DataFrame(data)
df_wc_canada = df_wc_canada[df_wc_canada['T(°C)'] <= 0]
df_wc_canada['WC-Canada'] = bm.wind_chill_canada(df_wc_canada['T(°C)'], df_wc_canada['ws(m/s)'])
df_wc_canada

   T(°C)  ws(m/s)  WC-Canada
0  -27.0      0.0 -27.000000
1  -15.6      2.5 -17.444100
2   -3.4      5.0  -5.446567
3    0.0      3.0  -0.954000

## **Heat Index**

In [ ]:
# Creating a generic dataframe with temperature and relative humidity
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'RH(%)': [60, 88, 93.4, 95.6, 100, 25, 34.4, 74]}

df_hi = pd.DataFrame(data)
df_hi['T(°F)'] = bm.celsius_to_farenheit(df_hi['T(°C)'])
df_hi = df_hi[['T(°C)', 'T(°F)', 'RH(%)']]
df_hi

   T(°C)   T(°F)  RH(%)
0  -27.0  -16.60   60.0
1  -15.6    3.92   88.0
2   -3.4   25.88   93.4
3    0.0   32.00   95.6
4    5.8   42.44  100.0
5   18.0   64.40   25.0
6   25.6   78.08   34.4
7   39.0  102.20   74.0

Heat index using celsius as the temperature degree unit

In [ ]:
# Note that, for the variable 'degree', the defaut value is 'celsius'
df_hi_celsius = df_hi.drop(columns = 'T(°F)')
df_hi_celsius['HI'] = bm.heat_index(df_hi_celsius['T(°C)'], df_hi_celsius['RH(%)'])
df_hi_celsius

   T(°C)  RH(%)       HI
0  -27.0   60.0 -27.0000
1  -15.6   88.0 -15.6000
2   -3.4   93.4  -3.4000
3    0.0   95.6   0.0000
4    5.8  100.0   5.0467
5   18.0   25.0  16.5083
6   25.6   34.4  25.1138
7   39.0   74.0  70.7954

Heat index using farenheit as the temperature degree unit

In [ ]:
# Now, for farenheit units
df_hi_farenheit = df_hi.drop(columns = 'T(°C)')
df_hi_farenheit['HI'] = bm.heat_index(df_hi_farenheit['T(°F)'], df_hi_farenheit['RH(%)'],
                                      degrees = 'farenheit')
df_hi_farenheit

    T(°F)  RH(%)          HI
0  -16.60   60.0  -16.600000
1    3.92   88.0    3.920000
2   25.88   93.4   25.880000
3   32.00   95.6   32.000000
4   42.44  100.0   41.084000
5   64.40   25.0   61.715000
6   78.08   34.4   77.204800
7  102.20   74.0  159.431649

## **Thom Discomfort Index**

In [ ]:
# Creating a generic dataframe with temperature and relative humidity
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'RH(%)': [60, 88, 93.4, 95.6, 100, 25, 34.4, 74]}

df_di = pd.DataFrame(data)
df_di['T(°F)'] = bm.celsius_to_farenheit(df_di['T(°C)'])
df_di = df_di[['T(°C)', 'T(°F)', 'RH(%)']]
df_di

   T(°C)   T(°F)  RH(%)
0  -27.0  -16.60   60.0
1  -15.6    3.92   88.0
2   -3.4   25.88   93.4
3    0.0   32.00   95.6
4    5.8   42.44  100.0
5   18.0   64.40   25.0
6   25.6   78.08   34.4
7   39.0  102.20   74.0

Thom discomfort index using celsius as the degree unit

In [ ]:
# Note that, for the variable 'degree', the defaut value is 'celsius'
df_di_celsius = df_di.drop(columns = ['T(°F)'])
df_di_celsius['TDI'] = bm.discomfort_index(df_di_celsius['T(°C)'], df_di_celsius['RH(%)'])
df_di_celsius

   T(°C)  RH(%)       TDI
0  -27.0   60.0 -17.87000
1  -15.6   88.0 -13.61340
2   -3.4   93.4  -2.75023
3    0.0   95.6   0.35090
4    5.8  100.0   5.80000
5   18.0   25.0  16.55625
6   25.6   34.4  21.59512
7   39.0   74.0  35.49650

Thom discomfort index using farenheit as the degree unit

In [ ]:
# Now, for farenheit degree unit
df_di_farenheit = df_di.drop(columns = ['T(°C)'])
df_di_farenheit['TDI'] = bm.discomfort_index(df_di_farenheit['T(°F)'], df_di_farenheit['RH(%)'])
df_di_farenheit

    T(°F)  RH(%)        TDI
0  -16.60   60.0  -9.758000
1    3.92   88.0   4.618280
2   25.88   93.4  25.466906
3   32.00   95.6  31.576500
4   42.44  100.0  42.440000
5   64.40   25.0  43.816250
6   78.08   34.4  55.140336
7  102.20   74.0  89.658900

## **Humidex**

In [ ]:
# Creating a generic dataframe with temperature and relative humidity
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'RH(%)': [60, 88, 93.4, 95.6, 100, 25, 34.4, 74]}

df_humidex = pd.DataFrame(data)
df_humidex['T(°F)'] = bm.celsius_to_farenheit(df_di['T(°C)'])
df_humidex = df_di[['T(°C)', 'T(°F)', 'RH(%)']]
df_humidex

   T(°C)   T(°F)  RH(%)
0  -27.0  -16.60   60.0
1  -15.6    3.92   88.0
2   -3.4   25.88   93.4
3    0.0   32.00   95.6
4    5.8   42.44  100.0
5   18.0   64.40   25.0
6   25.6   78.08   34.4
7   39.0  102.20   74.0

First case: temperature (°C) + relative humidity (%)

In [ ]:
# Note that, for the variable 'degrees', the defaut value is 'celsius'
# Note that, for the variable 'humidity', the defaut value is 'dewpoint'
df_humidex_celsius_rh = df_humidex.drop(columns = ['T(°F)'])
df_humidex_celsius_rh['Humidex'] = bm.humidex(df_humidex_celsius_rh['T(°C)'],
                                              df_humidex_celsius_rh['RH(%)'],
                                              moisture_unit = 'relative humidity')
df_humidex_celsius_rh

   T(°C)  RH(%)    Humidex
0  -27.0   60.0 -32.320255
1  -15.6   88.0 -20.256132
2   -3.4   93.4  -6.487509
3    0.0   95.6  -2.311521
4    5.8  100.0   5.373270
5   18.0   25.0  15.293421
6   25.6   34.4  26.323388
7   39.0   74.0  63.199829

Second case: temperature (°C) + dew point temperature (°C)

In [ ]:
# Adding a dewpoint temperature column and dropping the relative humidity one
df_humidex_celsius_dewpoint = df_humidex.drop(columns = ['T(°F)'])
df_humidex_celsius_dewpoint['Td(°C)'] = bm.relative_humidity_to_dewpoint(df_humidex_celsius_dewpoint['T(°C)'],
                                                                         df_humidex_celsius_dewpoint['RH(%)'])
df_humidex_celsius_dewpoint = df_humidex_celsius_dewpoint.drop(columns = ['RH(%)'])

df_humidex_celsius_dewpoint['Humidex'] = bm.humidex(df_humidex_celsius_dewpoint['T(°C)'],
                                                    df_humidex_celsius_dewpoint['Td(°C)'])
df_humidex_celsius_dewpoint

   T(°C)     Td(°C)    Humidex
0  -27.0 -32.424885 -32.320255
1  -15.6 -17.152880 -20.256132
2   -3.4  -4.325831  -6.487509
3    0.0  -0.628195  -2.311521
4    5.8   5.800000   5.373270
5   18.0  -2.397080  15.293421
6   25.6   8.736802  26.323388
7   39.0  33.566328  63.199829

Third case: temperature (°F) + relative humidity (%)

In [ ]:
# The farenheit value is obtained through multiple convertions before and after the index calculation
df_humidex_farenheit_rh = df_humidex.drop(columns = ['T(°C)'])
df_humidex_farenheit_rh['Humidex'] = bm.humidex(df_humidex_farenheit_rh['T(°F)'],
                                                df_humidex_farenheit_rh['RH(%)'],
                                                degrees = 'farenheit',
                                                moisture_unit = 'relative humidity')
df_humidex_farenheit_rh

    T(°F)  RH(%)   Humidex
0  -16.60   60.0  -26.0862
1    3.92   88.0   -4.3880
2   25.88   93.4   20.4190
3   32.00   95.6   27.9205
4   42.44  100.0   41.6719
5   64.40   25.0   61.9695
6   78.08   34.4   83.0840
7  102.20   74.0  149.7330

Forth case: temperature (°F) + dew point temperature (°F)

In [ ]:
# Adding a dewpoint temperature column and dropping the relative humidity one
df_humidex_farenheit_dewpoint = df_humidex.drop(columns = ['T(°C)'])
df_humidex_farenheit_dewpoint['Td(°F)'] = bm.relative_humidity_to_dewpoint(df_humidex_farenheit_dewpoint['T(°F)'],
                                                                           df_humidex_farenheit_dewpoint['RH(%)'])
df_humidex_farenheit_dewpoint = df_humidex_farenheit_dewpoint.drop(columns = ['RH(%)'])

df_humidex_farenheit_dewpoint['Humidex'] = bm.humidex(df_humidex_farenheit_dewpoint['T(°F)'],
                                                      df_humidex_farenheit_dewpoint['Td(°F)'],
                                                      degrees = 'farenheit')
df_humidex_farenheit_dewpoint

    T(°F)     Td(°F)   Humidex
0  -16.60 -22.603869  -26.0862
1    3.92   2.088629   -4.3880
2   25.88  24.730216   20.4190
3   32.00  31.210269   27.9205
4   42.44  42.440000   41.6719
5   64.40  37.358755   61.9695
6   78.08  55.318679   83.0840
7  102.20  94.665259  149.7330

## **Relative Strain Index**

In [ ]:
# Creating a generic dataframe with temperatures and partial water vapor pressure
data = {'T(°C)': [-27, -15.6, -3.4, 0, 5.8, 18, 25.6, 39],
        'PWVP(mmHg)': [27.8, 88.7, 170.1, 230.6, 300, 27.9, 450.2, 74]}

df_rsi = pd.DataFrame(data)
df_rsi['T(°F)'] = bm.celsius_to_farenheit(df_rsi['T(°C)'])
df_rsi = df_rsi[['T(°C)', 'T(°F)', 'PWVP(mmHg)']]
df_rsi

   T(°C)   T(°F)  PWVP(mmHg)
0  -27.0  -16.60        27.8
1  -15.6    3.92        88.7
2   -3.4   25.88       170.1
3    0.0   32.00       230.6
4    5.8   42.44       300.0
5   18.0   64.40        27.9
6   25.6   78.08       450.2
7   39.0  102.20        74.0

Relative strain index for temperature in degrees celsius

In [ ]:
# Note that, for the variable 'degrees', its defaut value is 'celsius'
df_rsi_celsius = df_rsi.drop(columns = ['T(°F)'])
df_rsi_celsius['RSI'] = bm.relative_strain_index(df_rsi_celsius['T(°C)'],
                                                 df_rsi_celsius['PWVP(mmHg)'])
df_rsi_celsius

   T(°C)  PWVP(mmHg)       RSI
0  -27.0        27.8 -2.171605
1  -15.6        88.7  0.598300
2   -3.4       170.1  0.140492
3    0.0       230.6  0.081458
4    5.8       300.0  0.042609
5   18.0        27.9 -0.116770
6   25.6       450.2 -0.009217
7   39.0        74.0 -0.455333

Relative strain index for temperature in farenheit

In [ ]:
# Note that, this particular formula doesn't show the final result based on the original farenheit
# value. In this case, it'll convert the temperature to celsius and proceed with the calculation with
# the celsius value. There's no cnvertion at the end.
# Because of that, the values in both tables are supposed to be the same for the RSI column
df_rsi_farenheit = df_rsi.drop(columns = ['T(°C)'])
df_rsi_farenheit['RSI'] = bm.relative_strain_index(df_rsi_farenheit['T(°F)'],
                                                   df_rsi_farenheit['PWVP(mmHg)'],
                                                   degrees = 'farenheit')
df_rsi_farenheit

    T(°F)  PWVP(mmHg)       RSI
0  -16.60        27.8 -2.171605
1    3.92        88.7  0.598300
2   25.88       170.1  0.140492
3   32.00       230.6  0.081458
4   42.44       300.0  0.042609
5   64.40        27.9 -0.116770
6   78.08       450.2 -0.009217
7  102.20        74.0 -0.455333